<section class="ct_login_main">
    <div class="ct_login_left_content">
        <div>
            <div class="ct_login_logo ct_mb_35">
                <img src="img/logo.svg" alt="">
            </div>

            <div class="text-center ct_mb_30 ct_pe_90  ">
                <h2 class="ct_fs_35 ct_mb_10 ct_ff_Matter_Medium">Forgot Password</h2>
                <p class="ct_text_clr_5E6168 mb-0 ct_fs_20 mx-auto" style="max-width: 507px;">Enter your registered
                    email address and we'll send you a link to reset your password.</p>
            </div>
            <form [formGroup]="Form" class=" ct_login_scroll w-100">
                <div class="form-group ct_mb_15">
                    <label for="" class="ct_fs_18 ct_mb_10">Email Id</label>
                    <div class="position-relative">
                        <img src="img/user_icon.svg" alt="" class="ct_input_icon_left">
                        <input type="text" class="form-control  ct_input ct_input_ps_50 ct_input_pe_40"
                            placeholder="Enter email address" formControlName="email">
                        <span class="ct_text_red mt-2">{{validationErrorService.getErrorMessage('Email',
                            Form.get('email'))}}</span>
                    </div>
                </div>
                <div class="ct_mt_35">
                    <a (click)="onSubmit()" class="ct_2d_purple_btn w-100">Send Reset Link</a>
                </div>
                <p class="mb-0 text-center ct_fs_14 ct_mt_15">Already know your password? <a routerLink="/"
                        class="ct_text_purple ct_fw_600">Sign In</a></p>
            </form>
        </div>
    </div>
    <div class="ct_login_right_content">
        <div class="ct_login_inner_right_bg">
            <div>
                <h4 class="ct_fs_35 ct_fw_600 ct_ff_Matter_SemiBold text-white" style="max-width: 400px;">"Great
                    management starts with clarity."</h4>
                <h4 class="ct_text_purple ct_fs_35 ct_fw_600 ct_ff_Matter_SemiBold " style="color: #552CB0;">Login Now
                </h4>
            </div>

        </div>
    </div>

</section>

<div class="ct_loader_main" *ngIf="isLoading">
    <div class="loader-con">
        <div style="--i: 0;" class="pfile"></div>
        <div style="--i: 1;" class="pfile"></div>
        <div class="pfile" style="--i: 2;"></div>
        <div class="pfile" style="--i: 3;"></div>
        <div class="pfile" style="--i: 4;"></div>
        <div class="pfile" style="--i: 5;"></div>
    </div>
</div>