<div class="ct_inner_header_bg ct_mt_30 ct_px_30">
    <h4 class="ct_fs_35  mb-1 ct_ff_Matter_Medium">Dashboard</h4>
    <p class="mb-0 ct_text_929292 ct_fs_18">Here's what's happening with your teams today.</p>
</div>
<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_title">
                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{details?.total_workspace_users}}</h5>
                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20 ">Total Workspace</p>
                    </div>
                    <div class="ct_dash_icon">
                        <img src="/img/dash_icon_1.gif" alt="">
                    </div>
                </div>
            </div> -->
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_title">
                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{details?.total_users}}</h5>
                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20 ">Total Users</p>
                    </div>
                    <div class="ct_dash_icon">
                        <img src="/img/dash_icon_2.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_title">
                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{details?.total_tasks}}</h5>
                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20 ">Total Tasks</p>
                    </div>
                    <div class="ct_dash_icon">
                        <img src="/img/dash_icon_3.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_title">
                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{details?.total_teams}}</h5>
                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20 ">Total teams</p>
                    </div>
                    <div class="ct_dash_icon">
                        <img src="/img/dash_icon_4.gif" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 ">
                <div class="ct_white_bg">
                    <div class="ct_d_align_center justify-content-between gap-3 ct_flex_col_575 ">
                        <div>
                            <h4 class="ct_fs_25 ct_ff_Matter_SemiBold mb-0">Platform Usage Trends</h4>
                            <p class="mb-0 ct_text_clr_4B5563">Monthly overview of new users and task creation.</p>
                        </div>
                        <select
                            class="form-control border-0 ct_text_purple ct_fw_600 bg-transparent ct_fit_content px-0">
                            <option value="">This Year</option>
                        </select>
                    </div>
                    <div id="ct_Performance_graph" class="ct_mt_30"></div>
                </div>
            </div>
        </div>
    </div>
</div>