<div class="ct_inner_header_bg ct_mt_30 ct_px_30 ct_d_align_center justify-content-between gap-3 mb-4">
    <div class="d-flex align-items-center justify-content-between gap-3">
        <h4 class="ct_fs_35 mb-0 ct_ff_Matter_Medium d-flex align-items-center gap-2">
            <a class="ct_back_icon me-1" (click)="backClicked()"><i class="fa-solid fa-chevron-left"></i></a>Notes
        </h4>
    </div>
</div>
<div class="ct_mt_30 ct_px_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_light_blue_bg">
                    <h4 class="ct_fs_24 ct_ff_Matter_Medium mb-3">{{noteDetails?.title}}</h4>
                    <div>
                        <p class="ct_fs_16 ct_text_clr_101010C4 mb-0">{{noteDetails?.description}}</p>
                        <!-- <div>
                            <p class="ct_fs_16 ct_text_clr_101010C4 mb-0">Fix Summary:</p>
                            <ul style="list-style: disc;" class="ps-4">
                                <li class="ct_fs_16 ct_text_clr_101010C4 ">Corrected layout misalignment in the “My
                                    Tasks” dashboard.</li>
                                <li class="ct_fs_16 ct_text_clr_101010C4">Fixed issue where task status updates weren’t
                                    reflecting in real-time.</li>
                                <li class="ct_fs_16 ct_text_clr_101010C4">Resolved broken link in the notifications
                                    panel.</li>
                                <li class="ct_fs_16 ct_text_clr_101010C4">Adjusted button spacing and hover states for
                                    better accessibility.</li>
                                <li class="ct_fs_16 ct_text_clr_101010C4">Improved API response time for the task detail
                                    view.</li>
                            </ul>
                        </div> -->
                        <!-- <p class="mb-0 ct_fs_16 ct_text_clr_101010C4 ">All fixes have been verified in the staging
                            environment and are pending approval from the QA team. Additional monitoring will continue
                            post-deployment to ensure stability across devices and browsers.</p> -->
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<div class="ct_loader_main" *ngIf="loading">
    <div class="loader-con">
        <div style="--i: 0;" class="pfile"></div>
        <div style="--i: 1;" class="pfile"></div>
        <div class="pfile" style="--i: 2;"></div>
        <div class="pfile" style="--i: 3;"></div>
        <div class="pfile" style="--i: 4;"></div>
        <div class="pfile" style="--i: 5;"></div>
    </div>
</div>