<div class="ct_inner_header_bg ct_mt_30 ct_px_30 ct_d_align_center justify-content-between gap-3 mb-4">
    <div class="d-flex align-items-center justify-content-between gap-3">
        <h4 class="ct_fs_35 mb-0 ct_ff_Matter_Medium d-flex align-items-center">
            <a class="ct_back_icon me-1" (click)="backClicked()"><i
                    class="fa-solid fa-chevron-left"></i></a>{{teamName}}
        </h4>
    </div>

</div>

<div class="ct_mt_30 ct_px_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills mb-3 ct_custom_tabs w-100" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-Overview-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-Overview" type="button" role="tab" aria-controls="pills-Overview"
                            aria-selected="true">
                            Overview
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-Settings-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-Settings" type="button" role="tab" aria-controls="pills-Settings"
                            aria-selected="false" tabindex="-1">
                            Members
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-Board-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-Board" type="button" role="tab" aria-controls="pills-Board"
                            aria-selected="false" tabindex="-1">
                            Tasks
                        </button>
                    </li>
                </ul>

                <div class="tab-content ct_mt_40" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-Overview" role="tabpanel"
                        aria-labelledby="pills-Overview-tab">
                        <div class="row">
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                                <div class="ct_dash_card">
                                    <div class="ct_dash_card_title">
                                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{dashboardData?.total_tasks ?
                                            dashboardData.total_tasks :
                                            0}}</h5>
                                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                                            Total Tasks
                                        </p>
                                    </div>
                                    <div class="ct_icon_43" style="background-color: #7f4eec12">
                                        <img src="/img/Total_Tasks_icon.png" class="ct_icon_w_26" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                                <div class="ct_dash_card">
                                    <div class="ct_dash_card_title">
                                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{dashboardData?.completed_tasks ?
                                            dashboardData.completed_tasks : 0}}</h5>
                                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                                            Completed Tasks
                                        </p>
                                    </div>
                                    <div class="ct_icon_43" style="background-color: #7f4eec12">
                                        <img src="/img/Completed_Tasks_icon.png" class="ct_icon_w_26" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                                <div class="ct_dash_card">
                                    <div class="ct_dash_card_title">
                                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{dashboardData?.overdue_tasks ?
                                            dashboardData.overdue_tasks
                                            : 0}}</h5>
                                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                                            Overdue Tasks
                                        </p>
                                    </div>
                                    <div class="ct_icon_43" style="background-color: #7f4eec12">
                                        <img src="/img/Overdue_Tasks_icon.png" class="ct_icon_w_26" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
                                <div class="ct_dash_card">
                                    <div class="ct_dash_card_title">
                                        <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">
                                            {{dashboardData?.average_cycle_time_formatted ?
                                            dashboardData.average_cycle_time_formatted : 0}}
                                        </h5>
                                        <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                                            Avg. Cycle Time
                                        </p>
                                    </div>
                                    <div class="ct_icon_43" style="background-color: #7f4eec12">
                                        <img src="/img/Avg_Cycle_Time_icon.png" class="ct_icon_w_26" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-8 mb-4">
                                <div class="ct_white_bg pe-0">
                                    <h4 class="ct_fs_22 ct_ff_Matter_Medium mb-4 ct_pe_36">
                                        Recent Activity
                                    </h4>

                                    <ul class="ct_recent_activity_list ct_para_scroll ct_custom_scroll ct_pe_36">
                                        @if (dashboardData?.recent_tasks?.length > 0) {
                                        <li *ngFor="let item of dashboardData?.recent_tasks">
                                            <div class="d-flex align-items-center gap-3">
                                                <img [src]="item.assigned_by.profile_image ? item.assigned_by.profile_image : '/img/no_pro.png'"
                                                    class="ct_img_40" />

                                                <p class="mb-0">
                                                    <i>
                                                        {{ item.assigned_by.full_name }} created task
                                                        <span class="ct_text_purple">'{{ item.title }}'</span>
                                                    </i>
                                                </p>
                                            </div>

                                            <p class="mb-0 ct_text_clr_4B5563 ct_white_nowrap">
                                                {{ getTimeAgo(item.created_at) }}
                                            </p>
                                        </li>
                                        } @else {
                                        <div class="ct_no_task">
                                            <p class="mb-0 text-center">No tasks available</p>
                                        </div>
                                        }

                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="ct_white_bg h-auto ct_27_40_38">
                                    <h4 class="ct_fs_18 mb-3">Team Manager</h4>
                                    <div class="ct_Members_info_sort gap-3 ct_d_align_center">
                                        <img [src]="dashboardData?.team_admin_profile_image ? dashboardData?.team_admin_profile_image : '/img/no_pro.png'"
                                            alt="" class="ct_img_42 ct_flex_shrink_0" />
                                        <div>
                                            <h5 class="ct_fs_16 mb-0 ct_ff_Matter_Medium text-truncate"
                                                style="max-width: 15Recent Tasks0px">
                                                {{dashboardData?.team_admin_name}}
                                            </h5>
                                            <p class="ct_fs_12 ct_text_787885 mb-0 text-truncate"
                                                style="max-width: 180px">
                                                {{dashboardData?.team_admin_email}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="ct_white_bg h-auto ct_27_40_38 ct_mt_15">
                                    <h4 class="ct_fs_18 mb-3 ct_ff_Matter_Medium">
                                        Quick Stats
                                    </h4>
                                    <ul class="ct_recent_activity_list ct_para_scroll ct_custom_scroll ct_pe_36">
                                        <li>
                                            <div class="d-flex align-items-center gap-3">
                                                <p class="mb-0 ct_text_787885">Members</p>
                                            </div>
                                            <p class="mb-0 ct_text_787885 ct_white_nowrap">
                                                {{dashboardData?.total_members}}
                                            </p>
                                        </li>
                                        <!-- <li class="ct_mt_15">
                    <div class="d-flex align-items-center gap-3">
                        <p class="mb-0 ct_text_787885">Active Boards</p>
                    </div>
                    <p class="mb-0 ct_text_787885 ct_white_nowrap">
                        {{dashboardData?.total_boards}}
                    </p>
                </li> -->
                                        <li class="ct_mt_15">
                                            <div class="d-flex align-items-center gap-3">
                                                <p class="mb-0 ct_text_787885">
                                                    Important Tasks
                                                </p>
                                            </div>
                                            <p class="mb-0 ct_text_787885 ct_white_nowrap">
                                                {{dashboardData?.urgent_tasks}}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-Settings" role="tabpanel" aria-labelledby="pills-Settings-tab">
                        <app-members></app-members>
                    </div>
                    <div class="tab-pane fade" id="pills-Board" role="tabpanel" aria-labelledby="pills-Board-tab">
                        <app-tasks></app-tasks>
                        <!-- <app-boards></app-boards> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>